body {
    background-color: #00D1D1;
    height: 100%;
}

a {
    margin: 0;
}

html {
    height: 100%;
}

a:hover {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    margin-bottom: 24px;
    padding: 25px 40px 25px;
    background-color: #00D1D1;
}

/* 登録ページへ行くボタン */
.header-register-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 42px;
    padding: 0 25px;
    line-height: 26.5px;
    text-align: center;
    border-radius: 30px;
    color:white;
    font-size: 14px;
    font-weight: 900;
    background-color: #62D8D8;
}

.header-register-link:hover {
    color:white;
    opacity: 0.8;
}

/* Apprentoryロゴ */
.header-logo {
    font-size: 32px;
    color: white;
    font-weight: 700;
    position: relative; /* 相対位置を設定 */
    top: -5px; /* 5px上に移動 */
}

.header-logo:hover {
    color:white;
    opacity: 0.8;
}


/* ログイン */
.login {
    max-width: 420px;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    padding: 24px 52px 32px 52px;
}

/* ログインって文字*/
.login-title {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 32px;
    text-align: center;
    color: #000000;
    height: 48px;
    line-height: 48px;
}

/* 入力欄 */
fieldset {
    display: block;
    border: none !important;
    margin: 0;
    padding: 0;
    background: none !important; /* 必要なら背景もリセット */
}

input {
    border: none !important; /* 競合を無視して枠線を消す */
    outline: none !important; /* 競合を無視してフォーカス時の青い枠を消す */
    background: none; /* 必要なら背景色もリセット */
    box-shadow: none !important; /* 入力欄の影もリセット */
}

/* 入力情報全体 */
.input-info {
    margin: 0 auto; /*　中央寄せ  */
    border: 1px solid #D9D9D9; /* 全体の枠線 */
    width: 316px; /* 全体の幅 */
    height: 105px;
    border-radius: 10px;
    overflow: hidden; /* input入力枠と外枠が重なった時入力枠の無効化 */
    display: flex; /* 内部要素を中央に配置する準備 */
    flex-direction: column; /* 要素を縦に並べる */
    justify-content: center; /* 縦方向に中央揃え */
}

/* メールアドレス入力欄の親クラス */
.userid {
    /* line-height: 75px; */
    border: none ; 
    outline: none ;
    height: 50%; /* 各入力欄が全体の50%を占める */
    display: flex; /* 内部の文字を中央揃えにする準備 */
    align-items: center; /* 縦方向に中央揃え */
    font-size: 14px; /* テキストサイズを調整 */
    color: #6D6D6D; /* テキストの色 */
    border: none; /* 不要な枠線を削除 */
    outline: none; /* フォーカス時の青い枠を削除 */
    background: none; /* 背景色をリセット */
}

/* メールアドレス入力欄 */
.userid-input {
    padding: 0 16px;
}

/* メールアドレス入力欄のプレースホルダー */
.userid-input::placeholder {
    font-size: 12px; /* プレースホルダーの文字サイズ */
    color: #979797; /* プレースホルダーの文字色 */
}

/* パスワード入力欄の親クラス */
.password {
    /* line-height: 75px; */
    border: none; 
    outline: none;
    height: 50%; /* 各入力欄が全体の50%を占める */
    display: flex; /* 内部の文字を中央揃えにする準備 */
    align-items: center; /* 縦方向に中央揃え */
    font-size: 14px; /* テキストサイズを調整 */
    color: #6D6D6D; /* テキストの色 */
    border: none; /* 不要な枠線を削除 */
    outline: none; /* フォーカス時の青い枠を削除 */
    background: none; /* 背景色をリセット */
}

/* パスワード入力欄 */
.password-input {
    padding: 0 16px;
}

/* プレースホルダーのcss */
.password-input::placeholder {
    font-size: 12px; /* プレースホルダーの文字サイズ */
    color: #979797; /* プレースホルダーの文字色 */
}

/* パスワード忘れた場合はこちらって文字 */
.forgot-password {
    display: block;
    height: 52px;
    line-height: 52px;
    margin:16px 0 16px 0;
    color:#00D1D1;
    font-size: 12px;
    font-weight: 600;
}

/* ログインするボタン */
.login-button {
    width: 316px; /* 全体の幅 */
    height: 52px;
    background-color: #00D1D1;
    border: none; 
    border-radius: 10px;
    color: white;
}