
p {
    margin: 0;
}

body {
    background-color: #F2F2F2;
    padding-bottom: 500px;
}

/* タグとかユーザーネームが入ってるdiv */
.material-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 220px;
    padding-top: 120px;
}

/* それの左側 */
.material-actions-left {
    display: flex;
    align-items: center;
}

/* それの右側 */
.material-actions-right {
    display: flex;
    align-items: center;
}

/* 投稿者情報 */
.posted-profile {
    display: flex;
    color: black;
    margin-right: 30px;
}

/* 投稿者の名前 */
.posted-username {
    margin-right: 6px;
}

/* 投稿者のアイコン */
.posted-userimage {
    width: 100%;
    height: 100%;
    margin-right: 8px;
    object-fit: contain;
    border-radius: 50%;
}

/* タグが入っているdiv */
.product-technology-tags {
    display: flex;
    align-items: center;
}

.purchase-button {
    width: 151px;
    height: 36px;
    margin-right: 24px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
    background-color: #00D1D1;
    border-radius: 25px;
}

.heart:hover {
    cursor: pointer;
}

.new-post {
    padding: 1px 6px;
}

.material-book-image {
    max-width: 100%;
    height: 330px;
    background-color: #EFF9FA;
    display: flex; /* 子要素をFlexboxで配置 */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    /* margin-top: 120px; */
}

.technology-tags {
    display: inline-block;
    width: 50px;
}

/* ヘッダーの技術ダグ */
.product-tag{
    display: flex;
    align-items: center;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    background-color:  #d9d9d9;
    width: 72px;
    height: 24px;
    color: #6d6d6d;
    border-radius: 12px;
    padding-top: 3px;
    margin-right: 10px;
}

/* 教材の画像 */
.material-book-image img {
    display: block;
    max-width: 180px;
    max-height: 240px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3); /* 左と下に影を設定 */
    margin: auto;
}

/* 教材のテキスト情報と削除編集ボタンを囲むdiv */
.material-info {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 16px;
}

/* 削除編集ボタン */
.action-buttons {
    margin-bottom: 68px;
}

.action-buttons button {
    margin-right: 16px;
}

/* 削除フォーム */
.delete-form {
    display: inline-block;
}

.delete-button {
    border: none;
    outline: none;
}

.delete-button:hover {
    cursor: pointer;
}

/* ハート */
.heart {
    border: none;
    outline: none;
    font-size: 36px;
    background-color: #F2F2F2;
}

/* いいねしている */
.liked {
    color:rgb(255, 0, 242);
}

.non-liked {
    color: #6D6D6D;
}

/* 教材投稿日 */
.material_posted_date {
    font-size: 12px;
    margin-bottom: 6px;
}

/* 教材タイトル */
.material-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

/* 教材価格 */
.material_price {
    margin-bottom: 16px;
    font-size: 20px;
}

/* 教材の星 */
.material_rating {
    padding: 0;
    margin-bottom: 32px;
    
    font-size: 20px;
}

.material_rating-bright-star
{
    display: inline-block;
    color: #FCB41A;
}

/* 教材詳細タイトル */
.material-detail-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

/* 詳細感想 */
.material-thoughts {
    margin-bottom: 32px;
    font-size: 20px;
}

/* 教材のURLという文字 */
.material_url p {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 27px;
}

/* 教材のURLのリンク */
.material_url a {
    color: #0F93FE;
    font-weight: 700;
}
