body {
    background-color: #F2F2F2;
    margin-bottom: 300px;
}

a:hover, p:hover {
    text-decoration: none;
}

.new-post {
    padding: 1px 6px;
}




/**************************************************
 * 推奨教材を表示するdivに関するスタイル設定
 **************************************************/

/* 推奨教材とタイトルが格納されているコンテナ */
.recommended_materials, .recommended_materials_all {
    max-width: 960px;
    padding: 48px 40px 20px;
    margin: 0 auto;
    position: relative;
}

.recommended_materials::after {
    content: ''; /* 疑似要素に空のコンテンツを挿入。これが下線の見た目を形成する。 */
    position: absolute; /* 親要素(.underline)を基準に配置を絶対位置で設定する。 */
    height: 1px; /* 下線の高さを1ピクセルに設定。 */
    width: 100%; /* 下線を親要素の幅いっぱいに設定。 */
    left: 0; /* 下線の左端を親要素の左端に揃える。 */
    bottom: 0; /* 下線の下端を親要素の下端に揃える。 */
    background: #D9D9D9; /* 下線の色をダークグレー(#333)に設定。 */
}

/* 推奨教材一覧という文字 */
.recommended_materials-title {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 700;
}

/* 教材情報が入っているコンテナ */
.materials-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 35px;
}

/* 教材情報 */
.material-item {
    width: 148px;
}


/* 教材の写真 */
.material-book-image {
    width: 148px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3); /* 左と下に影を設定 */
}

/* 教材名 */
.material-title {
    font-size: 13.5px;
    color: black;
    margin-bottom: 5px;
    line-height: 1.5;
}

.material-title:hover {
    text-decoration: underline;
}

/* 推奨教材いいね数 */
.post-likes {
    font-size: 10px;
    color: #8F9FAA;
}


/**************************************************
 * 評価の高い教材一覧
 **************************************************/

body {
    background-color: #F2F2F2;
}

/* 教材情報全体のコンテナ */
.high-rated-materials, .high-rated-materials-all{
    max-width: 960px;
    margin: 0 auto;
    padding: 48px 0 45px;
    position: relative;
}

.high-rated-materials::after {
    content: ''; /* 疑似要素に空のコンテンツを挿入。これが下線の見た目を形成する。 */
    position: absolute; /* 親要素(.underline)を基準に配置を絶対位置で設定する。 */
    height: 1px; /* 下線の高さを1ピクセルに設定。 */
    width: 100%; /* 下線を親要素の幅いっぱいに設定。 */
    left: 0; /* 下線の左端を親要素の左端に揃える。 */
    bottom: 0; /* 下線の下端を親要素の下端に揃える。 */
    background: #D9D9D9; /* 下線の色をダークグレー(#333)に設定。 */
}

/* h1 評価の高い教材 */
.high-rated-title {
    padding: 0 40px;
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 700;
}



/**************************************************
 * 複数の教材情報が入っているコンテナ、これにflexを適用する
 **************************************************/
.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 40px;
}

/* 単一の教材情報が入ってる */
.article {
    width: 48%;
    height: 216px;
    padding: 24px;
    display: flex;
    justify-content: flex-start;
    gap: 18px;
    border-radius: 8px;
    background-color: #EFF9FA;
}

.article p{
    display: inline;
}

/* 教材写真 */
.material-book-image {
    width: 120px;
    height: 168px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3); /* 左と下に影を設定 */
}


/* ユーザープロフィール画像 */
.post-user-image {
    width: 26px;
    height: auto;
    border-radius: 50%; /* 丸くする */
}

/* ユーザー情報をホバーした時のやつ */
.article p,a:hover {
    text-decoration: none;
    color: black;
}

/* 本のタイトル */
.material-title {
    margin-top: 8px;
    font-size: 16px;
    color: black;
}

.post-user-info a {
    display: flex; /* フレックスボックスを適用 */
    align-items: center; /* 垂直方向の中央揃え */
    gap: 8px; /* ユーザープロフィール画像と名前の間隔を調整 */
}

/* ポストユーザー名 */
.post-user-name {
    color: black;
    font-size: 12px;
}

/* ポストユーザー名をホバーした時 */
.post-user-name:hover {
    text-decoration: underline;
}

/* 本の評価 */
.book-rating p {
    display: inline;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: rgb(239, 239, 0);
}

/* 教材の価格 */
.material-price {
    margin-top: 4px;
    font-size: 13px;
}

/* いいね数 */
.post-likes {
    margin-top: 4px;
    font-size:11px;
    
}


/**************************************************
 * もっと見る
 **************************************************/



/**************************************************
 * 見えなくするクラス
 **************************************************/

.hidden {
    display: none;
}