.layout-top{
    width: 100%;
    height: 75px;
    margin-left: -80px;
    margin-right: -80px;
    margin-top: -29px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    border-bottom: 1px solid #d9d9d9;
    position: fixed;
    z-index: 100;

}
.back{
    font-size: 24px;
    padding-top: 4px;
    text-decoration: none;
    color: #6d6d6d;
}
.submit{
    width: 90px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #62d8d8;
    border-radius: 30px;
    border: none;
    padding-top: 4px;
}
.layout-main{
    padding-top: 75px;
}
.post-title{
    width: 100%;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 4px;
    margin-bottom: 32px;
}
.post-title input{
    /*デフォルトの枠線などを消去*/
    background: none;
    border: none;
    outline: none;
    
    width: 100%;
    color: #6d6d6d;
    font-size: 24px;
}
.post-images{
    margin-bottom: 64px;
    display: flex;
}
.post-images-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.post-images-left p{
    text-align: center;
    font-size: 16px;
    color: #6d6d6d;
    margin-top: 4px;

}
.post-images-left input{
    display: none;
}
.post-images-left img{
    box-shadow: -4px 4px 4px #00000040;
}
.post-subtitle,.post-detail,.post-product-url,.post-github-url,.post-element{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}
.post-subtitle label,.post-detail label,.post-product-url label,.post-github-url label,.post-element,.post-tags{
    font-size: 24px;
    color: #6d6d6d;
    padding-bottom: 16px;
}
.post-subtitle input,.post-detail textarea,.post-product-url input,.post-github-url input{
    border: none;
    outline: none;
}
.post-subtitle input,.post-product-url input,.post-github-url input{
    height: 24px;
}
.post-detail textarea{
    height: auto;
    min-height: 256px;
    resize: vertical;
    overflow: auto;
    /* スクロールバーを非表示にする */
    scrollbar-width: none; /* Firefox */
}
.post-detail textarea::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

/* 標準のラジオボタンを隠す */
.custom-radio input[type="radio"] {
    display: none;
}

/* カスタムラジオボタン */
.custom-radio label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}
/* カスタムの丸いボタン */
.custom-radio label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border: 3px solid #6d6d6d;
    border-radius: 50%;
    background-color: #f2f2f2;
}

/* 選択時のスタイル */
.custom-radio input[type="radio"]:checked + label::before {
    border-color: #49b3c3;
}
.custom-radio input[type="radio"]:checked + label::after {
    content: '';
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #49b3c3;
}

/* タグ設定 */
.post-tags {
    display: inline;
}


.post-tags p {
    font-size: 24px;
    margin-bottom: 16px;
}

.post-tags select{
    border: none; 
    outline: none;
    margin-right: 16px;
    padding: 0;
}