.products{
    
}

.products h1{
    font-size: 20px;
}

.product-menu{
    display: flex;
    justify-content: space-between;
}
.popular-tag{
    display: flex;
    justify-content:space-around;
}
.title{
    font-size: 32px;
}