a {
    color: #000;
}

.popular-tag-title{
    font-size: 20px;
}

.product-menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 26px;

}
.popular-tag{
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.popular-tag a{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    background-color:  #d9d9d9;
    width: 72px;
    height: 24px;
    color: #6d6d6d;
    border-radius: 12px;
    margin-right: 12px;
    padding-top: 3px;
}
.filter{
    white-space: nowrap; /* 折り返し防止 */
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #6d6d6d;
}
.filter img{
    margin-left: 7px;
    padding-bottom: 4px;
    width: 30px;
    height: 30px;
}

.title{
    font-size: 32px;
}
article{
    display: flex;
    border-bottom: 1px solid #d9d9d9 ;
    padding-bottom: 16px;
    padding-top: 32px;
}
.post-user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 36px;
    white-space: nowrap;


}
.post-user-image{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 8px;
}
.article-left{
    width: 40%;
}
.article-right{
    padding-left: 24px;
}
.product-image{
    width: 100%;
}

/* 共通スタイル */
.product-element {
    margin: 0px;
    font-size: 12px;
    width: 84px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* テスター */
.tester {
    color: #45bbc3;
    border: 1px solid #45bbc3;
}

/* レビュー */
.reviewer {
    color: #bd49c3;
    border: 1px solid #bd49c3;
}

.product-title{
    font-size: 32px;
    margin-top: 10px;
}
.product-subtitle{
    font-size: 16px;
    margin-top: 16px;
}
.product-date{
    color: #6d6d6d;
    font-size: 12px;
    margin-top: 16px;
}
.product-tag{
    display: flex;
    align-items: center;
}
.product-tag a{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    background-color:  #d9d9d9;
    width: 72px;
    height: 24px;
    color: #6d6d6d;
    border-radius: 12px;
    padding-top: 3px;
    margin-right: 8px;
}

.filter {
    display: inline-block;
}


/* 絞り込み */
.filter-tag {
    appearance: none; /* デフォルトのスタイルを無効化（全ブラウザ対応） */
    -webkit-appearance: none; /* Safari, Chrome */
    -moz-appearance: none; /* Firefox */
    -ms-appearance: none; /* Internet Explorer */

    background-color: #F2F2F2; /* 背景色 */
    border: none; /* 枠線を削除 */
    font-size: 16px; /* 文字サイズ */
    border-radius: 5px; /* 角を丸める（不要なら削除） */
    cursor: pointer; /* マウスポインターを変更 */
    width: 100%; /* 必要に応じて幅を調整 */
    outline: none;
}

